{% extends "layout.html" %}
{% block content %}
   <div class="slider-wrapper">

    <h3>iAWE:<b>I</b>ndian Dataset for <b>A</b>mbient Water and Energy <h3>
    <div id="slider">
    	<div class="slide1">
    		 <img src="{{ url_for('static', filename='img/overall_deployment.jpg') }}" width="320px" height="400px" border="0"/>
    		 <a href="http://nbviewer.ipython.org/urls/raw.github.com/nipunreddevil/Home_Deployment/master/notebooks/jplug_daily_count.ipynb"><h6>Overall Home Deployment Setup</h6></a>
    	</div>
    	<div class="slide2">
    		 <img src="{{ url_for('static', filename='img/outage_by_hour.png') }}" width="320px" height="400px"/>
    		 <a href="http://nbviewer.ipython.org/7133642"><h6>How much Power do thy lose?</h6></a>
    	</div>
      <div class="slide3">
         <img src="{{ url_for('static', filename='img/electricity.png') }}" width="320px" height="400px"/>
         <a href="http://nbviewer.ipython.org/7133642"><h6>How much Power do thy lose?</h6></a>
      </div>
      
      <div class="slide4">
      <img src="static/img/temperature.png" width="320px" height="400px"/>
      <a href="http://nbviewer.ipython.org/urls/raw.github.com/nipunreddevil/Home_Deployment/master/notebooks/temperature_range.ipynb"><h6>Temperature variation in different rooms</h6></a>
      </div>



    </div>
    <div id="slider-direction-nav"></div>
    <div id="slider-control-nav"></div>
   <h6>**Head over to the examples tab to find out more</h6>
  </div>
  <script type="text/javascript">
  	$('#slider').leanSlider({
            directionNav: '#slider-direction-nav',
            controlNav: '#slider-control-nav'
        });

  </script>
{% endblock %}
